.edit__modal-basic-container-avatar {
  display: block;
  border-radius: 12px;
  width: 200px;
  height: 200px;
  padding-right: 185px;
}
.edit__modal-basic-container {
  padding-top: 25px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.edit__modal-input {
  width: 100%;
}
.checkbox {
  margin: 0;
  padding: 0;
}
.edit__modal-basic-container-small {
  display: flex;
  align-items: center;
}
.edit__modal-basic-container-p {
  padding: 20px 20px 0 0;
  font-size: 30px;
}
.edit__modal-basic-container-logo {
  padding: 20px 0 0 20px;
  margin: 0;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); /* dark overlay */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}
