.container__seperation {
  width: 100%;
  border: none;
  border-radius: 12px;
  background-color: #009951;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}
.container__seperation-text {
  margin: 0;
  padding: 0;
  text-align: center;
  color: white;
  font-size: 60px;
  margin: 0;
  font-weight: 100;
}
@media screen and (max-width: 500px) {
  .container__seperation-text {
    font-size: 30px;
  }
}
