.confirmation__modal-container {
  border-radius: 12px;
  position: relative;
  gap: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75%;
  height: 25%;
  background-color: #c3e3a3;
}
.confirmation__modal-btns {
  gap: 50px;
  display: flex;
}
.confirmation__modal-container-p {
  margin: 0;
  padding: 0;
  font-size: 25px;
}
@media screen and (max-width: 880px) {
  .confirmation__modal-container {
    gap: 0;
  }
  .confirmation__modal-container-p {
    font-size: 20px;
    text-align: center;
  }
}
