/* Base styles for all buttons */
.btn {
  background-color: #005d1c; /* blue-600 */

  color: white;
  font-size: 25px;
  text-align: center;
  width: fit-content;
  min-height: fit-content;
  padding: 10px;
  border-radius: 12px;
  cursor: pointer;
  border: none;
  transition: background-color 0.2s ease;
}
.btn:hover {
  background-color: transparent;
  color: black;
}
.btn__text {
  font-size: 75px;
}

/* Variants */
.btn-primary {
}
.btn-hidden {
  visibility: hidden;
}
.btn-primary:hover {
}
.btn-menu__button {
  background-color: #d9d9d9;
  color: black;
  width: 100%;
  height: 100%;
}
.btn-menu__button:hover {
  background-color: #008345;
  color: white;
}

.btn-secondary {
  height: 50px;
}
.btn-secondary:hover {
  color: black;
  background-color: #d1d5db; /* gray-300 */
}

.btn-login__button-container-submit {
  font-size: 25px;
  margin: 0 auto;
  color: white;
  width: 100%;
  max-width: 350px;
  text-align: center;
  border-radius: 12px;
}
.btn-login__button-container-submit:hover {
  background-color: #d9d9d9;
  color: #005d1c;
}
.btn-login__button-container-forgot {
}
.btn-login__button:hover {
  background-color: #d9d9d9;
  color: #000000;
}

.btn-burger__menu {
  background-image: url('../../../assets/icons/MenuIcon.svg');
  background-repeat: no-repeat;
  background-color: transparent;
  padding-right: 50px;
  height: 50px;
}
.btn-allergy__tags {
  width: 150px;
}
.btn-card__edit {
  width: 100px;
}

.btn-modal__close-btn {
  position: absolute;
  top: 5px;
  right: 10px;
}
.btn-edit__modal-change-password {
  background-image: url('../../../assets/icons/lock.svg');
  background-repeat: no-repeat;
  background-position: left;
  padding-left: 50px;
}

.btn-delete__account {
  background-color: rgb(192, 0, 0);
}
.btn-logout_btn {
  display: block;
  width: 75px;
  height: 75px;
  background-image: url('../../../assets/icons/logout.svg');
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
}
.btn-logout_btn:hover {
  background-color: red;
}

@media screen and (max-width: 500px) {
  .btn {
    font-size: 20px;
  }
  .btn-login__button-container-submit {
    width: 150px;
  }
  .btn-logout_btn {
    width: 50px;
    height: 50px;
  }
  .btn-burger__menu {
    position: fixed;
    top: 0;
    right: 0;
  }
}
