/* Base styles for all buttons */
.btn {
  background-color: #005d1c; /* blue-600 */
  color: white;
  font-size: 25px;
  width: fit-content;
  height: 75px;
  padding: 10px;
  border-radius: 12px;
  cursor: pointer;
  border: none;
  transition: background-color 0.2s ease;
}

/* Variants */
.btn-primary {
  width: 100px;
  height: 30px;
  color: white;
}
.btn-primary:hover {
}
.btn-menu__button {
  background-color: #d9d9d9;
  color: black;
  width: 100%;
  height: 100%;
}
.btn-menu__button:hover {
  background-color: #008345;
  color: white;
}
.btn-menu-item {
  min-width: auto;
}

.btn-secondary {
  height: 50px;
}
.btn-secondary:hover {
  color: black;
  background-color: #d1d5db; /* gray-300 */
}

.btn-danger {
  background-color: #dc2626; /* red-600 */
  color: white;
}
.btn-danger:hover {
  background-color: #b91c1c; /* red-700 */
}

.btn-outline {
  border: 1px solid #9ca3af; /* gray-400 */
  color: #1f2937; /* gray-800 */
  background-color: transparent;
}
.btn-outline:hover {
  background-color: #f3f4f6; /* gray-100 */
}
