.intro__container {
  padding: 20px 0;
  border: none;
  border-radius: 12px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  background-color: #c3e3a3;
}
.intro__container_slogan {
  font-weight: 600;
  text-align: center;
  margin: 0;
  font-size: 100px;
  white-space: normal;
}
.intro__container_sloganbtns {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.intro__container_buttons {
  gap: 20px;
  display: flex;
}
.intro__container__ntroduction {
  font-size: 25px;
  font-weight: 500;
  display: flex;
  margin: 0;
  align-items: center;
  justify-content: center;
  text-align: center;
}
@media screen and (max-width: 650px) {
  .intro__container {
    display: flex !important;
    flex-direction: column !important;
  }
  .intro__container_slogan {
    font-size: 75px;
  }
}
@media screen and (max-width: 500px) {
  .intro__container_slogan {
    font-size: 50px;
  }
  .intro__container__ntroduction {
    font-size: 20px;
  }
}
