.food__form {
  justify-content: center;
  align-items: center;
  gap: 15px;
  display: flex;
  flex-direction: column;
}
.food__form-inputs-container {
  gap: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.food__form-inputs {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 25px;
}
.karm__toggle-container {
  justify-content: center;
  align-items: center;
  width: 100%;
  display: flex;
}
.karm__togle-p {
  margin: 0;
  padding: 0;
  font-size: 25px;
}
.food__form-footer {
  justify-content: center;
  align-items: center;
  gap: 300px;
  height: fit-content;
  display: flex;
}
.avatar__display {
  width: 200px;
  height: 150px;
}
