.food__form {
  justify-content: center;
  width: 100%;
  align-items: center;
  gap: 15px;
  display: flex;
  flex-direction: column;
}
.food__form-inputs-container {
  width: 100%;
  display: flex;
}
.food__form-inputs {
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 25px;
}
.karm__toggle-container {
  justify-content: center;
  align-items: center;
  width: 100%;
  display: flex;
}
.karm__togle-p {
  margin: 0;
  padding: 0;
  font-size: 25px;
}
.food__form-footer {
  justify-content: center;
  align-items: center;
  gap: 300px;
  height: fit-content;
  display: flex;
}
.avatar__display {
  width: 200px;
  height: 150px;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); /* dark overlay */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}
@media screen and (max-width: 730px) {
  .food__form-inputs-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .food__form-inputs {
    width: fit-content;
    gap: 10px;
  }
}
