.participantsContainer__container {
  display: grid;
  background-color: #c3e3a3;
}
.participantsContainer__container_list {
  list-style-type: none;
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
}
.participantsContainer__container_list-item-participant {
  font-size: 50px;
  margin: 0;
  padding: 0;
}
