.header__container {
  width: 100%;
  display: flex;
}
.logo {
  width: 100px;
  height: 100px;
}
.header__container-head {
  position: relative;
  width: 100%;
}
.header__container-h {
  font-weight: 500;
  font-size: 75px;
  text-align: center;
}
.logo {
  position: absolute;
  border-radius: 12px;
}
