.header__container {
  width: 100%;
  display: flex;
  position: relative;
}
.logo {
  width: 100px;
  height: 100px;
}
.header__container-head {
  position: relative;
  width: 100%;
}
.explore__header__container-title {
  font-weight: 500;
  font-size: 100px;
  text-align: center;
}
.logo {
  position: absolute;
  border-radius: 12px;
}
.menu__btn {
  position: absolute;
}
@media screen and (max-width: 880px) {
  .explore__header__container-title {
    padding-top: 75px;
    font-size: 75px;
  }
  .logo {
    width: 75px;
    height: 75px;
  }
}
@media screen and (max-width: 500px) {
  .explore__header__container-title {
    font-size: 50px;
    padding-top: 75px;
  }
}
