.container__searchBox {
  display: grid;
  grid-template-columns: 4fr 1fr;
}

.container__search-input {
  width: 100%;
  margin-bottom: 58px;
}
.container__tags {
  display: flex;
  gap: 50px;
  justify-content: space-around;
}
.container__search-btn {
  margin: auto auto;
  width: 150px;
}
