.testimonial__container {
  background-color: #c3e3a3;
  display: grid;
  grid-template-columns: 5fr 1fr;
}
.testimonail__container_cards {
  gap: 25px;
  justify-content: center;
  align-items: center;
  display: flex;
  list-style-type: none;
}
.testimonial__container_cards-item {
  margin: 0;
  padding: 0 10px;
  border-radius: 12px;
  background-color: #d9d9d9;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 150px;
}
.testimonial__container_cards-item-p {
  font-size: 20px;
  margin: 0;
  padding: 0;
}
.testimonial__container_cards-skip {
  margin: auto auto;
}
