.posted__donations-container {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.posted__donations-list-cards {
  display: grid;
  grid-template-columns: 2fr 1fr;
  height: 650px;
  gap: 20px;
  padding: 0 20px;
  margin: 0;
}
.posted__donation-card-display {
  width: 100%;
  background-color: bisque;
  height: 750px;
}
.posted__donations-list-title {
  width: 100%;
  border-radius: 12px;
  height: fit-content;
  background-color: #009951;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); /* dark overlay */
  display: flex;
  align-items: center;
  justify-content: center;
}
