.posted_donation-card-info-container {
  text-align: center;
  width: 100%;
  border-bottom: 10px solid #009951;
  border-radius: 12px;
}
.posted_donation-card-info {
  font-size: 25px;
}
@media screen and (max-width: 880px) {
  .posted_donation-card-info-container {
    display: flex;
    flex-direction: column;
  }
  .posted_donation-card-info {
    margin: 0;
    padding-top: 10px;
  }
}
