.howItWorks__container {
  border-radius: 12px;
  padding: 10px 0 0;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 35px;
  background-color: #d9d9d9;
}
.howItWorks__container_cards-list {
  justify-content: space-between;
  padding: 0;
  margin: 0;
  gap: 10px;
  display: flex;
  flex-wrap: wrap;

  width: 100%;
  list-style-type: none;
}
.howItWorks__container_cards_lits-item {
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  padding: 15px 0;
  margin: 0 auto;
  width: 200px;
  height: 150px;
  background-color: #c3e3a3;
}

.howItWorks__container_cards-iconbox {
  display: flex;
  margin: 0 auto;
  width: 70px;
  height: 60px;
  border: 2px solid #000000;
  border-radius: 12px;
}
.howItWorks__container__cards-parapraph {
  font-weight: 500;
  font-size: 20px;
  margin: 0;
  padding: 10px 0;
  text-align: center;
}
.howItWorks__container_cards-icon {
  width: 40px;
  height: 40px;
  margin: 0 auto;
}
.howItWorks__container_information {
  margin: 0;
  text-align: center;
  font-size: 20px;
}

.howItWorks__container_karm {
  border-radius: 12px;
  background-color: #c3e3a3;
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.howItWorks__container_karm-infos {
  margin: 0;
  display: flex;
  flex-direction: column;
}
.howItWorks__container_karm-subtitle {
  font-weight: 500;
  margin: 0;
  padding: 0;
  font-size: 50px;
}
.howItWorks__container_karm-paragraph {
  margin: 0;
  font-size: 20px;
}
.how__ItWorks__container_karm-btn {
  margin-left: auto;
}
.howItWorks__container_karm-chef {
  display: block;
  padding: 10px 0;
  width: 100%; /* Image will fill parent width */
  /* Optional: set a max width */
  min-width: 200px;
  height: auto;
}

@media screen and (max-width: 500px) {
  .howItWorks__container__cards-parapraph {
    font-size: 18px;
  }
  .howItWorks__container_cards_lits-item {
    width: 150px;
    height: 100px;
  }
  .howItWorks__container_karm {
    display: flex;
    flex-direction: column;
  }
  .howItWorks__container_karm-subtitle {
    font-size: 35px;
  }
  .howItWorks__container_karm-paragraph {
    font-size: 20px;
  }
  .howItWorks__container_karm-chef {
    width: 50px;
    margin: 0 auto;
  }
}
