/* Base styles for all headers */
.header\ {
  font-size: 16px;
  padding: 8px 16px;
  border-radius: 12px;
  cursor: pointer;
  border: none;
  transition: background-color 0.2s ease;
}

/* Variants */
.header-primary {
  max-width: 1440px;
  height: 100px;
  background-color: #d9d9d9; /* blue-600 */
}
.header-primary:hover {
  background-color: #1d4ed8; /* blue-700 */
}

.header-secondary {
  background-color: #e5e7eb; /* gray-200 */
  color: #1f2937; /* gray-800 */
}
.header-secondary:hover {
  background-color: #d1d5db; /* gray-300 */
}

.header-danger {
  background-color: #dc2626; /* red-600 */
  color: white;
}
.header-danger:hover {
  background-color: #b91c1c; /* red-700 */
}

.header-outline {
  border: 1px solid #9ca3af; /* gray-400 */
  color: #1f2937; /* gray-800 */
  background-color: transparent;
}
.header\-outline:hover {
  background-color: #f3f4f6; /* gray-100 */
}

.meal__match-logo {
  width: 100px;
  height: 100px;
}
.header__content {
  display: flex;
  justify-content: space-between;
}
.header__profile-layout {
  display: flex;
}
