.list__item-property {
  margin: 0;
  padding: 15px;
  font-size: 25px;
  text-align: center;
}
.not-active {
  border-bottom: 10px solid red;
}
.posted__donation-spam {
  text-align: center;
  margin: auto auto;
  font-size: 20px;
}

@media screen and (max-width: 880px) {
  .posted__donation-spam {
    font-size: 18px;
  }
  .karm__check-icon {
    width: 24px;
  }
}
@media screen and (max-width: 500px) {
  .posted__donation-spam {
    font-size: 14px;
  }
}
