.change__password-container {
  display: flex;
  border-radius: 12px;
  flex-direction: column;
  background-color: #c3e3a3;
  width: 100%;
  position: fixed;
  margin: 0;
  padding: 10px 0;
  max-height: 100vh;
  overflow-y: auto;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.change__password-container-buttons {
  display: flex;
  gap: 25px;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); /* dark overlay */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}
