.posted__donations-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.posted__donations-list-container {
  position: relative;
  border-radius: 12px;
  direction: rtl;
  overflow-y: auto;
  scrollbar-color: #d9d9d9;
  margin: 0;
  padding: 0 0 0 10px;
  list-style-type: none;
  width: 100%;
}
.posted__donations-list-cards {
  display: grid;
  grid-template-columns: 2fr 1fr;
  height: 650px;
  gap: 20px;
  padding: 0 20px;
  margin: 0;
}

.posted__donation-card-display {
  width: 100%;
  background-color: bisque;
  height: 750px;
}

@media screen and (max-width: 880px) {
  .posted__donations-list-cards {
    height: 800px !important;
    display: flex !important;
    flex-direction: column !important;
    gap: 10px !important; /* Optional: adjust gap for mobile */
    padding: 0 5px !important; /* Optional: reduce padding for mobile */
  }
  .posted__donations-list-container {
    padding: 0 10px 0 0 !important;
  }
  .posted__donations-container {
  }
}
