.posted__donations-container {
  background-color: rgba(128, 255, 0, 0.25);
}
.posted__donations-list-container {
  direction: rtl;
  overflow-y: auto;
  scrollbar-color: #d9d9d9;
  margin: 0;
  padding: 0 0 0 10px;
  list-style-type: none;
  width: 100%;
}
.posted__donations-list-cards {
  display: grid;
  grid-template-columns: 2fr 1fr;
  height: 650px;
  gap: 20px;
  padding: 0 20px;
}
.posted__donation-card-display {
  width: 100%;
  background-color: bisque;
  height: 750px;
}
.posted__donations-list-title {
  width: 100%;
  border-radius: 12px;
  height: fit-content;
  background-color: #009951;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
.posted__donations-list-categories {
  color: white;
  padding: 10px 0;
  font-size: 25px;
  text-align: center;
}
