.posted__donations-container {
  background-color: rgba(128, 255, 0, 0.25);
}
.posted__donations-list-container {
  overflow-y: auto;
  scrollbar-color: #d9d9d9;
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 100%;
  height: 500px;
}
.posted__donations-list-cards {
  display: grid;
  grid-template-columns: 2fr 1fr;
  height: fit-content;
  gap: 20px;
}
.posted__donation-card-display {
  width: 100%;
  background-color: bisque;
  height: 500px;
}
