.testimonial__list-item {
  scroll-snap-align: start;

  list-style-type: none;
}
.testimonial__list-item-container {
  border-bottom: 5px solid #d9d9d9;
  border-radius: 12px;
  position: relative;
}
.span__top {
  position: absolute;
  top: 10px;
  left: -40px;
  font-size: 75px;
}

.span__bottom {
  font-size: 75px;
  position: absolute;
  bottom: 10px;
  right: 0;
  transform: rotate(180deg);
}
.testimonial__list-item {
  font-size: 35px;
  padding: 5px;
}
