.share__food-header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #d9d9d9;
  height: 250px;
}
.share__food-header-logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
}
.share__food-header-p {
  font-size: 100px;
}
.menu__btn {
  position: absolute;
  top: 20px;
  right: 20px;
}
