.profile__page-header {
  padding: 10px;
  background-color: #d9d9d9;
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: center;
  align-items: center;
}
.header__container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.header__container-title {
  font-size: 100px;
  font-weight: 100;
  margin: 0;
  padding: 0;
}
.header__container-paragraph {
  font-size: 30px;
}
.header__container-btn {
  margin-left: auto;
}
