.input {
  font-size: 25px;
  border-radius: 12px;
  width: 350px;
  height: 40px;
  justify-content: center;
  align-items: center;
}
.input-login {
}
.label {
  color: #005d1c;
  margin: 0;
  font-size: 100px;
  font-weight: 100;
}
.label-login {
}
.label-text {
  font-size: 20px;
}
